openapi: 3.1.0
info:
  description: "AgentDrive is an agent-focused artifact store: upload by path, share\
    \ by rendered URL, address by stable permalink. The REST surface is documented\
    \ here; the rendered viewer + agent claim flow live under `agentdrive.run`."
  title: AgentDrive
  version: 0.0.1
servers:
- description: Production
  url: https://api.agentdrive.run
- description: Local dev
  url: http://127.0.0.1:8000
paths:
  /v0/artifacts/{path}:
    delete:
      operationId: delete_artifact_v0_artifacts__path__delete
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Delete Artifact
    put:
      description: |-
        Upload an artifact at the given path. The path is treated as the artifact's location in the drive — re-uploading the same path overwrites in place (idempotent).

        **Limits:** request body must not exceed **50 MB**. Path must be non-empty, ≤256 chars, only `[A-Za-z0-9_./-]`, no `..` segments, no leading/trailing slash. Per-token write rate limit: 100/hour.

        **Optional headers:**
        - `X-AgentDrive-Visibility`: `public` (default) or `private`.
        - `X-AgentDrive-Labels`: comma-separated labels (e.g. `draft,report`). Each label: lowercase, `[a-z0-9_-]+`, ≤64 chars; ≤16 labels per artifact.
        - `X-AgentDrive-Metadata`: JSON object of agent-attached fields.
        - `X-AgentDrive-Source`: JSON `{"refs": [...]}` source provenance. Sentinel semantics: absent ⇒ existing source preserved; present (including `{"refs": []}`) ⇒ replaces the existing source.
        - `X-AgentDrive-Actor`: caller-supplied actor name (≤64 chars) for event-log attribution. Untrusted; never used for authz.
      operationId: put_artifact_v0_artifacts__path__put
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: content-type
        required: false
        schema:
          default: application/octet-stream
          title: Content-Type
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-visibility
        required: false
        schema:
          default: public
          title: X-Agentdrive-Visibility
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-labels
        required: false
        schema:
          default: ""
          title: X-Agentdrive-Labels
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-metadata
        required: false
        schema:
          default: "{}"
          title: X-Agentdrive-Metadata
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-source
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-change-summary
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Upload (or overwrite) an artifact
  /v0/artifacts/{art_id}:
    get:
      operationId: get_artifact_by_id_v0_artifacts__art_id__get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Canonical lookup of an artifact by its stable ID
    patch:
      description: |-
        Move the artifact to a new path on the same drive. ID, version history, source refs, labels, metadata, and the underlying CAS blob are preserved — only `path` and `updated_at` change.

        Returns 409 PATH_CONFLICT if the target path is already taken. Use `X-AgentDrive-Actor` to attach attribution to the emitted `artifact.renamed` event.
      operationId: rename_artifact_route_v0_artifacts__art_id__patch
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Rename / move an artifact to a new path
  /v0/artifacts/{art_id}/meta:
    get:
      operationId: get_artifact_by_id_meta_v0_artifacts__art_id__meta_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Artifact metadata by stable ID (same shape as path /meta)
  /v0/artifacts/{art_id}/copy:
    post:
      description: |-
        Create a new artifact at `path` whose bytes are identical to the source artifact's. The copy reuses the source's CAS object (zero new storage) but gets a fresh `art_…` ID, a fresh version 1, and — by default — `source.refs = [{type: 'artifact', id: '<source>'}]` so provenance is preserved.

        Quota: the copy's `size_bytes` is added to the drive's `storage_bytes` even though physical bytes are shared.

        Returns 409 PATH_CONFLICT if the target path is already taken; 413 STORAGE_QUOTA_EXCEEDED if the copy would push the drive over its limit.
      operationId: copy_artifact_route_v0_artifacts__art_id__copy_post
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopyIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: "Duplicate an artifact to a new path (CAS-shared, new ID)"
  /v0/artifacts/{art_id}/download:
    get:
      operationId: download_artifact_by_id_v0_artifacts__art_id__download_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Stream the artifact bytes by stable ID (never rendered HTML)
  /v0/artifacts/{art_id}/versions:
    get:
      description: Returns versions in descending `version_number` order. Cursor pagination
        via `?cursor=<token>`; `next_cursor` is non-null when the page is full and
        more older versions may exist.
      operationId: list_artifact_versions_v0_artifacts__art_id__versions_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionPage"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: "List versions of an artifact, newest first"
  /v0/artifacts/{art_id}/versions/{version_number}:
    get:
      operationId: get_artifact_version_v0_artifacts__art_id__versions__version_number__get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: path
        name: version_number
        required: true
        schema:
          title: Version Number
          type: integer
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Metadata for a specific version of an artifact
  /v0/artifacts/{art_id}/versions/{version_number}/download:
    get:
      operationId: download_artifact_version_v0_artifacts__art_id__versions__version_number__download_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: path
        name: version_number
        required: true
        schema:
          title: Version Number
          type: integer
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Stream bytes for a specific version (machine surface)
  /v0/artifacts/{path}/meta:
    get:
      operationId: get_artifact_meta_v0_artifacts__path__meta_get
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Artifact Meta
  /v0/artifacts/{art_id}/restore:
    post:
      description: Clear `deleted_at` + `purge_at` on a soft-deleted artifact. Available
        only while the artifact is in trash (i.e. before the GC cleanup cron purges
        it). Returns 404 if the artifact is live or already hard-deleted; 409 PATH_OCCUPIED
        if its path is now occupied by another live artifact. The 409 payload includes
        a `restore_options` block with `rename_to` and `force_overwrite` URLs the
        caller can follow to resolve the conflict — see deletion-design.md §5.4.
      operationId: restore_artifact_v0_artifacts__art_id__restore_post
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - description: Restore at this path instead of the original. Soft-deletes the
          live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
          Mutually exclusive with `overwrite`.
        explode: true
        in: query
        name: rename
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - description: Soft-delete the live occupant at the original path and restore
          there. Audit `metadata.cause='restore_conflict_overwrite'`. Mutually exclusive
          with `rename`.
        explode: true
        in: query
        name: overwrite
        required: false
        schema:
          default: false
          description: Soft-delete the live occupant at the original path and restore
            there. Audit `metadata.cause='restore_conflict_overwrite'`. Mutually exclusive
            with `rename`.
          title: Overwrite
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Restore a soft-deleted artifact
  /v0/drives/{drive_id}:
    delete:
      description: "Mark the drive for cleanup. All tenant data (artifacts, versions,\
        \ wiki, embeddings, events) is hidden via the `live_*` views and CASCADE-removed\
        \ by the GC cleanup cron at `purge_at`. Restore via `POST /v0/drives/{id}/restore`\
        \ while the row is still in trash. The path-param `drive_id` MUST match the\
        \ authenticated drive."
      operationId: delete_drive_route_v0_drives__drive_id__delete
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Soft-delete the authenticated drive
  /v0/drives/{drive_id}/restore:
    post:
      description: Clear `deleted_at` + `purge_at` on a soft-deleted drive. Soft-deleted
        child artifacts get their retention window rebased to the drive-restore moment
        (see deletion-design.md §5.2). Available only while the drive is in trash.
        Returns 404 if the drive is live or already hard-deleted.
      operationId: restore_drive_route_v0_drives__drive_id__restore_post
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Restore a soft-deleted drive
  /v0/drives/{drive_id}/trash:
    get:
      description: Returns soft-deleted artifacts on the drive plus the drive's own
        soft-delete state (if applicable). The path-param `drive_id` MUST match the
        authenticated drive.
      operationId: list_trash_route_v0_drives__drive_id__trash_get
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List the authenticated drive's trash
  /v0/artifacts:
    get:
      description: |-
        Returns artifacts sorted by path. Filter by `prefix`, `label` (repeatable + AND-combined), and `file_type`.

        **Cursor pagination:** when more results exist, the response carries `next_cursor`. Pass it back as `?cursor=<token>` to fetch the next page. `next_cursor` is `null` on the final page. Filters MUST stay consistent across pages — the cursor encodes only the keyset position, not the filter set, so the client is responsible for re-sending the same filter on each page.
      operationId: list_artifacts_v0_artifacts_get
      parameters:
      - explode: true
        in: query
        name: prefix
        required: false
        schema:
          default: ""
          title: Prefix
          type: string
        style: form
      - explode: true
        in: query
        name: label
        required: false
        schema:
          items:
            description: Restore at this path instead of the original. Soft-deletes
              the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
              Mutually exclusive with `overwrite`.
            nullable: true
            type: string
          title: Label
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: file_type
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List artifacts in the drive
  /v0/search:
    get:
      description: |-
        Lexical (not semantic) full-text search powered by Postgres `websearch_to_tsquery`. Results are ranked by `ts_rank` over a weighted tsvector (path > content > metadata > labels).

        **Supported query syntax:**
        - Words: `kangaroo` (English stemming)
        - Phrases: `"exact phrase"`
        - Negation: `kangaroo -secret`
        - AND (implicit): `kangaroo secret`
        - OR: `kangaroo OR koala`
        - Paths & filenames: `reports/q3-summary.md` or `q3-summary.md` match by their path words (`/ . _ -` are word boundaries)

        **Not supported (v0):**
        - Semantic / embedding similarity
        - PDF and image content (only the path + metadata are searchable)
        - Non-English stemming
        - Fuzzy matching, regex
        - Boolean operator parentheses

        **Filters:** `label` (repeatable, AND), `file_type` (enum), `prefix` (path prefix), `visibility` (`public`/`private`/`all` — default `all`), `updated_after` / `updated_before` (RFC 3339 timestamps, inclusive bounds on `updated_at`).
      operationId: search_v0_search_get
      parameters:
      - explode: true
        in: query
        name: q
        required: true
        schema:
          maxLength: 200
          minLength: 1
          title: Q
          type: string
        style: form
      - explode: true
        in: query
        name: label
        required: false
        schema:
          items:
            type: string
          title: Label
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: file_type
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: prefix
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: visibility
        required: false
        schema:
          default: all
          enum:
          - public
          - private
          - all
          title: Visibility
          type: string
        style: form
      - explode: true
        in: query
        name: updated_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: updated_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchPage"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Full-text search over artifacts in the drive
  /v0/find:
    get:
      description: |-
        Passage-level chunk RAG over `embed_chunks`. Lexical (`chunk_tsv`, GIN) + semantic (HNSW over `embedding`) are run in parallel and fused via Reciprocal Rank Fusion (k=60). Unlike `/v0/search`, which only sees the first ~16 KB preview of each artifact, `/v0/find` reaches the full file body.

        **Modes:**
        - `hybrid` (default) — lexical + semantic, RRF-fused.
        - `lexical` — `chunk_tsv` only. Best for exact tokens, identifiers, code snippets.
        - `semantic` — embedding only. Best for conceptual queries where the surface terms differ from the query phrasing.

        **Granularity:** results are passages, not files. A long document with multiple matching regions returns multiple hits with distinct `ord` values; consecutive `ord`s overlap by ~400 tokens. Dedupe by `art_id` if you want one row per file.

        **Span citations:** `char_start`/`char_end` for text & code, `page_start`/`page_end` for PDFs, `time_start_ms`/`time_end_ms` for audio & video. Only the modality-relevant pair is populated.

        **Filters:** `label`, `file_type`, `prefix`, `visibility`, `modality` (repeatable), `updated_after` / `updated_before` (RFC 3339 timestamps, inclusive bounds on `updated_at`, applied to both legs).

        **Wiki coverage:** `/v0/find` excludes `_wiki/` paths by default and — importantly — does NOT cover them even when the caller passes `prefix=_wiki/...`. Wiki pages are not embedded by the pipeline (they're system-generated output, not user input), so `embed_chunks` has no rows for them and the join returns empty. Use `wiki_search` (or `list`/`grep` with a `_wiki/` prefix) for the wiki layer.

        **Embedding availability:** when `GEMINI_API_KEY` is not configured, `mode=semantic` returns 500; `mode=hybrid` logs a warning and falls back to lexical-only; `mode=lexical` is unaffected.
      operationId: find_v0_find_get
      parameters:
      - explode: true
        in: query
        name: q
        required: true
        schema:
          maxLength: 500
          minLength: 1
          title: Q
          type: string
        style: form
      - explode: true
        in: query
        name: mode
        required: false
        schema:
          default: hybrid
          enum:
          - hybrid
          - lexical
          - semantic
          title: Mode
          type: string
        style: form
      - explode: true
        in: query
        name: label
        required: false
        schema:
          items:
            type: string
          title: Label
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: file_type
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: prefix
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: visibility
        required: false
        schema:
          default: all
          enum:
          - public
          - private
          - all
          title: Visibility
          type: string
        style: form
      - explode: true
        in: query
        name: modality
        required: false
        schema:
          items:
            description: Restore at this path instead of the original. Soft-deletes
              the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
              Mutually exclusive with `overwrite`.
            nullable: true
            type: string
          title: Modality
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: updated_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: updated_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindPage"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Hybrid passage retrieval over the full file body
  /v0/folders/{fld_id}:
    delete:
      operationId: delete_folder_by_id_v0_folders__fld_id__delete
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: true
        in: query
        name: recursive
        required: false
        schema:
          default: false
          title: Recursive
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderDeleteOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Soft-delete a folder by stable ID (cascade with ?recursive=true)
    get:
      operationId: get_folder_by_id_v0_folders__fld_id__get
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Canonical lookup of a folder by its stable ID
    patch:
      operationId: patch_folder_by_id_v0_folders__fld_id__patch
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FolderPatchIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Update folder metadata by stable ID
  /v0/folders/{fld_id}/meta:
    get:
      operationId: get_folder_by_id_meta_v0_folders__fld_id__meta_get
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Folder metadata by stable ID (same shape as the bare id route)
  /v0/folders/{fld_id}/move:
    post:
      operationId: move_folder_by_id_v0_folders__fld_id__move_post
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FolderMoveIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Rename / move a folder by stable ID (cascade descendants)
  /v0/folders/{path}/move:
    post:
      description: |-
        Move the folder identified by URL path to the body's `path`. All descendant folders + artifacts are path-prefix-updated in the same transaction. The folder's `fld_*` ID stays stable.

        Returns 409 `FOLDER_PATH_CONFLICT` if the destination prefix collides with a live folder or artifact path.
      operationId: move_folder_by_path_v0_folders__path__move_post
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FolderMoveIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Rename / move a folder (cascade-update descendants)
  /v0/folders/{path}:
    delete:
      description: |-
        Soft-delete the folder. Refuses if the folder has live descendants unless `?recursive=true` is set, in which case ALL descendant folders + artifacts are soft-deleted in the same transaction.

        Returns 409 `FOLDER_RECURSIVE_REQUIRED` (with descendant counts in `colliding_path`) when recursion is needed but the flag isn't set. Retention window is frozen on `purge_at` per deletion-design.md §5.1; mid-retention tier changes don't shift it.
      operationId: delete_folder_by_path_v0_folders__path__delete
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: true
        in: query
        name: recursive
        required: false
        schema:
          default: false
          title: Recursive
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderDeleteOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Soft-delete a folder (cascade with ?recursive=true)
    get:
      operationId: get_folder_by_path_v0_folders__path__get
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Read folder metadata by path
    patch:
      description: Partial update — field absence leaves the value unchanged; explicit
        `null` clears the field. Use the by-id endpoint (slice 2) when you need stable
        addressing across renames.
      operationId: patch_folder_by_path_v0_folders__path__patch
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FolderPatchIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Update folder metadata by path
    post:
      description: |-
        Create a folder at the URL path. Idempotent — a second call for the same live path returns the existing row unchanged (metadata updates require PATCH).

        Returns 409 `FOLDER_PATH_CONFLICT` if a live artifact occupies the file form of the path (e.g. mkdir `/foo/` when an artifact lives at `/foo`).
      operationId: create_folder_by_path_v0_folders__path__post
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/FolderCreateIn"
              nullable: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Create a folder (idempotent)
  /v0/events:
    get:
      description: |-
        Returns events newest-first. Filters compose with AND.

        **Cursor pagination:** pass the oldest event's `created_at` from the previous page as `before` to fetch the next page back in time. Combine `since` + `before` to bound a window.
      operationId: list_events_route_v0_events_get
      parameters:
      - explode: true
        in: query
        name: art_id
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: action
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventPage"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Read the append-only event log for the authenticated drive
  /v0/drives/me:
    get:
      description: |-
        Drive overview for the authenticated bearer token.

        Wire-protocol preservation (WorkOS integration §6): the `email` field
        is preserved in the response shape; its meaning is now "the drive's
        owner's email" (via `drives.owner_user_id` → `users.email`, joined
        in `auth.resolve_drive`). For solo signups this equals v0 behavior —
        the email the user signed up with. Returns null if the owner has
        been hard-purged. `organization_id` is a new additive field.
      operationId: me_v0_drives_me_get
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Me
  /v0/drives/me/usage:
    get:
      description: "Unified view of every metered dimension: storage (snapshot), writes\
        \ (current hour), indexing ops + retrieval queries (current calendar month\
        \ UTC). Each row carries `used` and `limit`; `limit: 0` means unlimited (the\
        \ v0 free-tier default for the two monthly counters). Reads are de-throttled\
        \ — there is no hourly read budget; the monthly read count appears under `ops_this_month.reads`."
      operationId: me_usage_v0_drives_me_usage_get
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Current-period usage + caps for the authenticated drive
  /v0/feedback:
    post:
      description: |-
        File feedback. Body: `{kind, title, body, contact?,
        attachments?: [art_id, ...]}` — attachments are snapshotted from
        this drive's artifacts at submit time.
      operationId: post_feedback_v0_feedback_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Post Feedback
  /v0/feedback/{fbk_id}:
    get:
      description: |-
        Lifecycle status of feedback THIS drive filed. Foreign tickets
        read as 404 — indistinguishable from absent.
      operationId: get_feedback_status_v0_feedback__fbk_id__get
      parameters:
      - explode: false
        in: path
        name: fbk_id
        required: true
        schema:
          title: Fbk Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Feedback Status
  /v0/upload/{token}:
    put:
      description: |-
        Streams an artifact body into AgentDrive using a single-use token that was previously minted by the `upload_url` MCP tool. The token encodes the artifact path, content type, size cap, labels, metadata, visibility, source, actor, change summary, and `if_match` — all frozen at mint time. The request carries only the raw bytes + a `Content-Type` header that must match the signed value.

        **Auth.** No Authorization header — the token in the path is the credential.

        **Single-use.** Replay returns 409 TOKEN_REPLAYED. Expiry returns 401 TOKEN_EXPIRED. Bodies exceeding the signed cap return 413 BYTES_LIMIT.
      operationId: stream_upload_v0_upload__token__put
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          title: Token
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "400":
          description: Content-Type mismatch or other validation failure
        "401":
          description: Token invalid / expired / drive deleted
        "403":
          description: Path reserved for the system (WIKI_RESERVED)
        "409":
          description: Token already consumed (replay)
        "412":
          description: If-Match precondition failed
        "413":
          description: Body exceeded signed max_bytes or drive quota
        "429":
          description: Drive's per-hour write budget exhausted
        "503":
          description: Storage backend unavailable (STORAGE_FAILURE)
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Proxied streaming upload (via an upload_url token)
  /v0/projects/{fld_id}/jobs:
    get:
      operationId: list_project_jobs_v0_projects__fld_id__jobs_get
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: true
        in: query
        name: status
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List a project's jobs
    post:
      operationId: enqueue_job_v0_projects__fld_id__jobs_post
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompileJobIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Enqueue a compile job for a project (folder)
  /v0/jobs/{job_id}:
    get:
      operationId: get_job_v0_jobs__job_id__get
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          title: Job Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Poll a job
  /v0/jobs/{job_id}/logs:
    get:
      operationId: get_job_logs_v0_jobs__job_id__logs_get
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          title: Job Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Raw compile log (text/plain)
  /v0/jobs/{job_id}/cancel:
    post:
      operationId: cancel_job_v0_jobs__job_id__cancel_post
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          title: Job Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Cancel a queued/running job
  /v0/projects/{fld_id}:
    get:
      operationId: get_project_v0_projects__fld_id__get
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get a project's compile config
    put:
      operationId: put_project_v0_projects__fld_id__put
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectConfigIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Set a project's compile config (entrypoint/engine/auto_compile)
  /.well-known/jwks.json:
    get:
      description: Public half of the RSA signing key for identity_assertion + access_token
        JWTs issued by AgentDrive. RFC 7517 shape. Cache-friendly; key rotation publishes
        both kids during the overlap window.
      operationId: jwks__well_known_jwks_json_get
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response Jwks  Well Known Jwks Json Get
          description: Successful Response
      summary: JSON Web Key Set — public keys for verifying AgentDrive JWTs
      tags:
      - agent-auth
  /.well-known/oauth-protected-resource:
    get:
      description: Names this server as a protected resource and points clients at
        the authorization server they should obtain tokens from. In this design the
        resource server and authorization server are the same host.
      operationId: oauth_protected_resource__well_known_oauth_protected_resource_get
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response Oauth Protected Resource  Well Known Oauth Protected
                  Resource Get
          description: Successful Response
      summary: Protected-resource metadata (auth.md / RFC 9728-like discovery)
      tags:
      - agent-auth
  /.well-known/oauth-protected-resource/mcp:
    get:
      description: "Path-inserted variant of the protected-resource document. MCP\
        \ clients derive this URL from the resource URL `{origin}/mcp` (RFC 9728 §\
        3.1: insert the well-known segment between host and path) after reading the\
        \ WWW-Authenticate challenge on a 401 — it is the first hop of the client-side\
        \ OAuth flow."
      operationId: oauth_protected_resource_mcp__well_known_oauth_protected_resource_mcp_get
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response Oauth Protected Resource Mcp  Well Known Oauth Protected
                  Resource Mcp Get
          description: Successful Response
      summary: Protected-resource metadata for the MCP endpoint (RFC 9728 §3.1)
      tags:
      - agent-auth
  /.well-known/oauth-authorization-server:
    get:
      description: Discovery document for the auth.md protocol. Carries the standard
        RFC 8414 fields plus an `agent_auth` block per the auth.md spec — the latter
        is what an agent runtime keys off to find the identity + claim endpoints.
      operationId: oauth_authorization_server__well_known_oauth_authorization_server_get
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response Oauth Authorization Server  Well Known Oauth Authorization
                  Server Get
          description: Successful Response
      summary: Authorization-server metadata (RFC 8414 + auth.md agent_auth block)
      tags:
      - agent-auth
  /agent/identity:
    post:
      description: |-
        Two registration modes:

        **`type=anonymous`** — Provisions a brand-new agent identity bound to a fresh shadow-org drive. No human involved; returned `identity_assertion` carries `scope=pre_claim`. A human completes the claim ceremony later via /claim.

        **`type=identity_assertion`** — Agent provider (e.g. WorkOS) has already minted an ID-JAG asserting a user identity binding. We verify it against the provider's JWKS and provision a **claimed** identity immediately: scope=full, drive bound to the user, no claim ceremony needed.
      operationId: register_agent_identity_agent_identity_post
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: {}
              title: Body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnonymousIdentityResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Register an agent identity (anonymous or ID-JAG)
      tags:
      - agent-auth
  /agent/identity/claim:
    post:
      description: "Returns a `user_code` and `verification_uri` (RFC 8628 device-code\
        \ idiom). The agent surfaces these to the human, who visits the URI, signs\
        \ in, and approves the claim. The agent then polls POST /oauth2/token (grant_type=claim)\
        \ with the same `claim_token` to learn when the claim completes."
      operationId: initiate_claim_agent_identity_claim_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimInitRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimInitResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Initiate the human-claim ceremony for an agent identity
      tags:
      - agent-auth
  /oauth2/token:
    post:
      description: |-
        Two grant types:

        **`urn:ietf:params:oauth:grant-type:jwt-bearer`** (RFC 7523) — body `assertion=<identity_assertion JWT>`. Returns a fresh 15-minute access_token with the same scope as the assertion.

        **`claim`** (custom) — body `claim_token=<from POST /agent/identity>`. Polling endpoint for the claim ceremony. Returns one of: `authorization_pending` (400), `expired_token` (400), `access_denied` (400), or access_token + new identity_assertion + scope=full (200).
      operationId: oauth2_token_oauth2_token_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Body_oauth2_token_oauth2_token_post"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Exchange a credential for an access_token
      tags:
      - agent-auth
  /v0/auth/extension/exchange:
    post:
      description: Single-use opaque ticket → JWT pair. Called once by an extension's
        auth-complete.html after the OAuth handoff lands. Returns a 15-minute `access_token`
        (scope=extension) and a 90-day `identity_assertion` the extension stores and
        refreshes via POST /oauth2/token.
      operationId: extension_exchange_v0_auth_extension_exchange_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExtensionExchangeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtensionExchangeResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Redeem an extension OAuth ticket for a JWT pair
      tags:
      - agent-auth
  /oauth2/register:
    post:
      description: "Anonymous registration endpoint for MCP clients. Public clients\
        \ only (PKCE, no client_secret). Returns the registered metadata plus the\
        \ assigned `client_id`. Registration grants nothing by itself — every token\
        \ still requires a user consent ceremony at /oauth2/authorize."
      operationId: oauth2_register_oauth2_register_post
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Dynamic Client Registration (RFC 7591)
      tags:
      - mcp-oauth
  /oauth2/revoke:
    post:
      description: "Revokes an `adat_` access token (that token only) or an `adrt_`\
        \ refresh token (the whole rotation chain). Unknown tokens return 200 per\
        \ RFC 7009 §2.2 — existence is not revealed. Public-client endpoint auth (`client_id`\
        \ form param, no secret)."
      operationId: oauth2_revoke_oauth2_revoke_post
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Token revocation (RFC 7009)
      tags:
      - mcp-oauth
  /claim:
    get:
      description: |-
        Three states, each rendered via the same template with a
        different `state` discriminator. The user_code is read from the
        query string so the URL is shareable from the agent's UI.

        Auth: WorkOS browser session required. If absent, redirect to
        `/auth/login?return_to=/claim?code=<code>` and the user lands
        back here after sign-in.
      operationId: claim_page_claim_get
      parameters:
      - explode: true
        in: query
        name: code
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Claim Page
      tags:
      - claim-ui
  /agent/identity/claim/complete:
    post:
      description: |-
        Browser-form submit from `/claim`. CSRF-gated +
        WorkOS-session-gated. Atomically binds the drive to the user OR
        marks the attempt denied.

        See design §5.3 for the algorithm — concurrency note: we
        `SELECT … FOR UPDATE` on the claim_attempts row to serialize the
        double-click case before running the drive_limit gate.
      operationId: claim_complete_agent_identity_claim_complete_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Body_claim_complete_agent_identity_claim_complete_post"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Claim Complete
      tags:
      - claim-ui
  /oauth2/authorize:
    get:
      operationId: authorize_page_oauth2_authorize_get
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: Successful Response
      summary: Authorize Page
      tags:
      - mcp-oauth-ui
    post:
      operationId: authorize_decision_oauth2_authorize_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Body_authorize_decision_oauth2_authorize_post"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Authorize Decision
      tags:
      - mcp-oauth-ui
  /auth/extension/start:
    get:
      description: |-
        Begin a WorkOS sign-in flow on behalf of a Chrome extension.

        Stamps `for=ext` + `ext_id` into the signed OAuth state so the
        callback handler knows to render the extension handoff page
        instead of setting a session cookie.

        Three short-circuits, all surface as actionable errors:
          * EXTENSION_AUTH_DISABLED (503): kill switch flipped off.
          * UNKNOWN_EXTENSION (400): `ext_id` not on the allow-list.
          * Missing `ext_id` query string (400 INVALID_REQUEST).
      operationId: extension_start_auth_extension_start_get
      parameters:
      - explode: true
        in: query
        name: ext_id
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Extension Start
  /auth/login:
    get:
      description: |-
        Begin a WorkOS sign-in flow.

        Mints a pre-login state cookie (binds the OAuth flow to this
        browser — defense-in-depth against login-CSRF), signs a state
        payload, and redirects to AuthKit. The hosted AuthKit page lets
        the user pick Google OAuth, Microsoft OAuth, magic-link,
        password, or passkey; we don't care which — they all funnel
        back to /auth/callback with a `code` we exchange in D2.
      operationId: login_auth_login_get
      parameters:
      - explode: true
        in: query
        name: return_to
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Login
  /auth/callback:
    get:
      description: |-
        Complete a WorkOS sign-in.

        Three failure modes the route is responsible for shaping into
        user-readable errors:
          * Missing/mismatched state cookie or signed state — LOGIN_FLOW_INVALID
            (400). Almost always means the user took >10 minutes on the
            AuthKit page or copy-pasted the callback URL into a different
            browser.
          * `authenticate_with_code` raises — AUTH_CODE_INVALID (400). The
            code was consumed or invalid; the user re-initiates and gets
            a fresh code.
          * `sync_from_workos` raises — WORKOS_UNAVAILABLE (502) with
            Retry-After: 30. WorkOS API call failed AFTER the code was
            consumed; local DB is untouched (sync_from_workos opens its
            tx after the WorkOS call returns).
      operationId: callback_auth_callback_get
      parameters:
      - explode: true
        in: query
        name: code
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: error
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Callback
  /auth/logout:
    post:
      description: |-
        Terminate both the local session AND the upstream WorkOS session.

        Without the WorkOS-side termination, the next `/auth/login` flow
        silently re-authenticates the user through AuthKit's still-valid
        session cookie on `api.workos.com` — "Sign out" feels broken and
        a shared-browser user can't switch accounts. The recommended
        pattern (per https://workos.com/docs/authkit/sessions) is to
        redirect to the WorkOS logout endpoint with the `sid` we stashed
        during the callback; WorkOS clears its own session and returns
        the browser to our `return_to`.

        Failure modes handled:
          * No `workos_session_id` in the session (legacy v2 cookie issued
            before this slice landed): fall back to local-only logout. The
            upstream session lingers but the user's local state is cleared
            — same UX as before this slice; cookie rotation on next sign-in
            eventually overwrites it.
          * SDK raises during `get_logout_url`: pure string formatting at
            WorkOS's end, so the only realistic failure is a misconfigured
            WorkOS dashboard (no Sign-out redirect registered). We catch
            and fall back to local-only logout rather than 500ing — the
            user clicked "Sign out", they should land somewhere, not on an
            error page.
      operationId: logout_auth_logout_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Body_logout_auth_logout_post"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Logout
  /auth/recovery:
    get:
      description: |-
        Show the recover-or-start-fresh decision. Requires a valid
        `pending_recovery` payload — direct hits without one bounce to
        /auth/login (the recovery state is only meaningful inside the
        callback → recovery → resolve chain).
      operationId: recovery_page_auth_recovery_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Recovery Page
  /auth/recovery/restore:
    post:
      description: |-
        Recover the soft-deleted account. Undelete cascade runs in
        `onboarding.recover_account`; on success we set the normal
        session and bounce to /dashboard. If the retention window has
        lapsed between page-render and POST (the GC raced us), surface
        the same "expired" redirect so the user lands somewhere
        actionable.
      operationId: recovery_restore_auth_recovery_restore_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Body_recovery_restore_auth_recovery_restore_post"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Recovery Restore
  /auth/recovery/new-account:
    post:
      description: |-
        Start fresh under the same WorkOS identity. JIT-provisions a
        new user / org / drive via the same `sync_from_workos` the happy
        path uses; the soft-deleted record stays in trash with its
        original purge_at until the GC sweeps it. Land on /welcome so
        the user sees the freshly-minted API key once.

        Tab-concurrency note: if the user has /auth/recovery open in two
        tabs and clicks Recover in tab A then Start fresh in tab B, this
        handler sees a pending_recovery payload whose
        `soft_deleted_user_id` is now LIVE (tab A's restore won). The
        `sync_from_workos` upsert on `workos_user_id` will UPDATE the
        live row's mutable fields instead of INSERTing — i.e., the
        second tab's Start-fresh effectively no-ops because the
        partial-unique-index arbiter is no longer filtered out by
        `deleted_at IS NULL`. End user is still signed in correctly as
        the recovered user; the second tab's audit event reflects the
        declined intent even though no new row was minted. Acceptable
        drift; not worth distributed locking for.
      operationId: recovery_new_account_auth_recovery_new_account_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Body_recovery_new_account_auth_recovery_new_account_post"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Recovery New Account
  /auth/recovery/new-account-expired:
    get:
      description: |-
        Friendly landing for the rare race where the soft-deleted row
        has been hard-purged between callback and recovery-page render.
        Clears the recovery cookie (only when one is present) and tells
        the user to retry — fresh sign-in will JIT-provision cleanly
        since no soft-deleted record blocks it any more.

        Gated on `pending_recovery` so a normal signed-in user who
        navigates here directly doesn't get their session wiped. Without
        a pending payload there's nothing to expire; bounce home.
      operationId: recovery_new_account_expired_auth_recovery_new_account_expired_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Recovery New Account Expired
  /web/artifacts/indexed:
    get:
      description: |-
        Session-auth companion to `/v0/artifacts/{path}/meta` used by the
        wiki-banner poller in the browser. The poller runs in any logged-in
        owner's tab; the v0 endpoint requires Bearer auth and was therefore
        dead for browser owners (the banner spinner never resolved).

        Returns `{indexed_at, has_index}` so the poller can detect when the
        extraction finishes and reload the page. 401 if not signed in (anon
        viewer); 404 if the path doesn't exist in the caller's drive.

        Rate limit is generous (120/min) because the banner polls every 5s and
        a user might leave multiple tabs open. Per-IP keying so one abusive
        client doesn't starve out concurrent legit polls from other users.
      operationId: web_artifact_indexed_web_artifacts_indexed_get
      parameters:
      - explode: true
        in: query
        name: path
        required: true
        schema:
          maxLength: 512
          title: Path
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Web Artifact Indexed
  /web/projects/{fld_id}/preview:
    get:
      description: |-
        Session-auth poll for the live PDF preview page (latex-live-preview-
        design.md §4.2). The browser uses the session cookie (the `/v0` jobs API
        is Bearer-only), so this is the cookie-authed companion. Returns the
        current compile status + the last successful PDF + diagnostics so the page
        updates in place. 401 if not signed in; 404 (not 403) if the folder isn't
        in the caller's drive, to avoid existence leakage.
      operationId: web_project_preview_web_projects__fld_id__preview_get
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Web Project Preview
  /f/{fld_id}/preview:
    get:
      description: |-
        Live PDF preview for a project folder (latex-live-preview-design.md).

        URL mirrors the folder permalink (`/f/{fld_id}` → dashboard;
        `/f/{fld_id}/preview` → live preview) and the editor (`/a/{art_id}/edit`).
        Owner-only focused viewer: the page polls `/web/projects/{fld_id}/preview`
        and re-renders the compiled PDF in place (PDF.js) as the agent recompiles.
        Anonymous / non-owner → bounce through login with this URL as return_to.
        The page renders an empty shell; preview.js owns all behavior.
      operationId: project_preview_page_f__fld_id__preview_get
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      responses:
        "200":
          content:
            text/html:
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Project Preview Page
  /web/artifacts/{path}:
    delete:
      description: |-
        Cookie-authed delete used by the editor's Discard button
        (`/a/{art_id}/edit`): if the user isn't happy with a capture, they
        delete it right there instead of round-tripping through the
        dashboard. The bearer-authed `DELETE /v0/artifacts/{path}` won't
        accept a cookie-only session, hence this `/web/...` alias — the
        same split as the autosave PUT above.

        Mirrors the v0 DELETE's guards: CSRF header (cross-site fetch
        can't forge the token), write-quota consumption, and reserved
        `_wiki/` namespace rejection. Soft-delete semantics are identical
        too — the artifact lands in trash and is restorable until the GC
        cron purges it at `purge_at`, so a misclick through the confirm
        dialog is recoverable. `If-Match` is deliberately not supported:
        the editor is the only intended caller and always deletes
        whatever is current.

        Note: `restore_url` in the response points at the bearer-authed
        v0 endpoint, which this cookie-only caller can't hit — it's kept
        for shape parity with the v0 DELETE and is informational here
        (a future web trash UI would need a `/web/...` restore alias).
      operationId: web_delete_artifact_web_artifacts__path__delete
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: x-csrf-token
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Web Delete Artifact
    put:
      description: |-
        Cookie-authed write of an image artifact. Used by the SnipIt web
        editor (`/a/{art_id}/edit`) for autosave; the bearer-authed
        `PUT /v0/artifacts/{path}` won't accept a cookie-only session.

        Owner-only; the path is checked against the signed-in user's drive.
        v0 is image-only — refuses non-image content types so the editor
        can't smuggle markdown or anything else through this surface.
        Mirrors every guard the v0 PUT enforces — write quota, reserved
        `_wiki/` namespace rejection, per-tier max-bytes cap (both
        `Content-Length` short-circuit and post-body length check) — so
        a logged-in user can't bypass quota or write into the wiki by
        routing autosaves through this endpoint instead of the v0 API.
        CSRF is checked via the `X-CSRF-Token` header (see
        `csrf.require_csrf_header`); the editor reads the token from the
        `<meta name="csrf-token">` tag rendered into the edit page.
        Rate-limited per-IP/user at the same cadence the editor's 1.5s
        autosave can sustain without flagging abuse.
      operationId: web_put_artifact_web_artifacts__path__put
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: x-csrf-token
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Web Put Artifact
  /a/{art_id}/edit:
    get:
      description: |-
        SnipIt annotation editor for an image artifact.

        URL pattern mirrors the artifact permalink (`/a/{art_id}` → viewer;
        `/a/{art_id}/edit` → editor). FastAPI matches the more-specific
        `/edit` path before `/a/{art_id}` so there's no collision.

        Owner-only: requires a signed-in session cookie AND the artifact
        must belong to the user's currently-active drive. Non-owners and
        anonymous viewers redirect to /auth/login with this URL as
        `return_to` so they land back here after sign-in.

        Renders an editor shell — the editor JS owns all behavior (load
        the PNG, draw annotations on a canvas overlay, auto-save via
        `PUT /web/artifacts/{path}` with cookie auth). v0 supports image
        artifacts only; non-image art_ids redirect to the canonical
        viewer URL.

        Pairs with the SnipIt Chrome extension: after auto-upload finishes
        the extension's SW navigates the tab to this URL, so the user's
        URL bar shows the real `agentdrive.run/a/<art_id>/edit` instead
        of a chrome-extension://... page. Editing on the web app side
        also means the same flow is reachable from the dashboard ("Edit
        this clip") without the extension installed.
      operationId: edit_artifact_a__art_id__edit_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      responses:
        "200":
          content:
            text/html:
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Edit Artifact
  /web/trash:
    get:
      description: |-
        Drive-wide Trash: soft-deleted artifacts + folder roots, each with
        a Restore action. Restore wiring lives in web/file_ops.py.
      operationId: trash_web_trash_get
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: Successful Response
      summary: Trash
  /dashboard:
    get:
      operationId: dashboard_dashboard_get
      parameters:
      - explode: true
        in: query
        name: q
        required: false
        schema:
          default: ""
          maxLength: 200
          title: Q
          type: string
        style: form
      - explode: true
        in: query
        name: path
        required: false
        schema:
          default: ""
          maxLength: 256
          title: Path
          type: string
        style: form
      - explode: true
        in: query
        name: wiki
        required: false
        schema:
          default: 0
          title: Wiki
          type: integer
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          default: ""
          maxLength: 32
          title: Type
          type: string
        style: form
      - explode: true
        in: query
        name: label
[...]
