/*
AgentDrive

AgentDrive is an agent-focused artifact store: upload by path, share by rendered URL, address by stable permalink. The REST surface is documented here; the rendered viewer + agent claim flow live under `agentdrive.run`.

API version: 0.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package agentdrive

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ClaimUiAPIService ClaimUiAPI service
type ClaimUiAPIService service

type ApiClaimCompleteAgentIdentityClaimCompletePostRequest struct {
	ctx context.Context
	ApiService *ClaimUiAPIService
	claimAttemptToken *string
	userCode *string
	csrf *string
	decision *string
	orgName *string
}

func (r ApiClaimCompleteAgentIdentityClaimCompletePostRequest) ClaimAttemptToken(claimAttemptToken string) ApiClaimCompleteAgentIdentityClaimCompletePostRequest {
	r.claimAttemptToken = &claimAttemptToken
	return r
}

func (r ApiClaimCompleteAgentIdentityClaimCompletePostRequest) UserCode(userCode string) ApiClaimCompleteAgentIdentityClaimCompletePostRequest {
	r.userCode = &userCode
	return r
}

func (r ApiClaimCompleteAgentIdentityClaimCompletePostRequest) Csrf(csrf string) ApiClaimCompleteAgentIdentityClaimCompletePostRequest {
	r.csrf = &csrf
	return r
}

func (r ApiClaimCompleteAgentIdentityClaimCompletePostRequest) Decision(decision string) ApiClaimCompleteAgentIdentityClaimCompletePostRequest {
	r.decision = &decision
	return r
}

func (r ApiClaimCompleteAgentIdentityClaimCompletePostRequest) OrgName(orgName string) ApiClaimCompleteAgentIdentityClaimCompletePostRequest {
	r.orgName = &orgName
	return r
}

func (r ApiClaimCompleteAgentIdentityClaimCompletePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ClaimCompleteAgentIdentityClaimCompletePostExecute(r)
}

/*
ClaimCompleteAgentIdentityClaimCompletePost Claim Complete

Browser-form submit from `/claim`. CSRF-gated +
WorkOS-session-gated. Atomically binds the drive to the user OR
marks the attempt denied.

See design §5.3 for the algorithm — concurrency note: we
`SELECT … FOR UPDATE` on the claim_attempts row to serialize the
double-click case before running the drive_limit gate.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiClaimCompleteAgentIdentityClaimCompletePostRequest
*/
func (a *ClaimUiAPIService) ClaimCompleteAgentIdentityClaimCompletePost(ctx context.Context) ApiClaimCompleteAgentIdentityClaimCompletePostRequest {
	return ApiClaimCompleteAgentIdentityClaimCompletePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ClaimUiAPIService) ClaimCompleteAgentIdentityClaimCompletePostExecute(r ApiClaimCompleteAgentIdentityClaimCompletePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ClaimUiAPIService.ClaimCompleteAgentIdentityClaimCompletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agent/identity/claim/complete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.claimAttemptToken == nil {
		return localVarReturnValue, nil, reportError("claimAttemptToken is required and must be specified")
	}
	if r.userCode == nil {
		return localVarReturnValue, nil, reportError("userCode is required and must be specified")
	}
	if r.csrf == nil {
		return localVarReturnValue, nil, reportError("csrf is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "claim_attempt_token", r.claimAttemptToken, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "user_code", r.userCode, "", "")
	if r.decision != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "decision", r.decision, "", "")
	}
	if r.orgName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "org_name", r.orgName, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "csrf", r.csrf, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiClaimPageClaimGetRequest struct {
	ctx context.Context
	ApiService *ClaimUiAPIService
	code *string
}

func (r ApiClaimPageClaimGetRequest) Code(code string) ApiClaimPageClaimGetRequest {
	r.code = &code
	return r
}

func (r ApiClaimPageClaimGetRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.ClaimPageClaimGetExecute(r)
}

/*
ClaimPageClaimGet Claim Page

Three states, each rendered via the same template with a
different `state` discriminator. The user_code is read from the
query string so the URL is shareable from the agent's UI.

Auth: WorkOS browser session required. If absent, redirect to
`/auth/login?return_to=/claim?code=<code>` and the user lands
back here after sign-in.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiClaimPageClaimGetRequest
*/
func (a *ClaimUiAPIService) ClaimPageClaimGet(ctx context.Context) ApiClaimPageClaimGetRequest {
	return ApiClaimPageClaimGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return string
func (a *ClaimUiAPIService) ClaimPageClaimGetExecute(r ApiClaimPageClaimGetRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ClaimUiAPIService.ClaimPageClaimGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/claim"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/html", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
